@model EntityLayer.Concrete.Message
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Bizimlə Əlaqə</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index/">Ana Səhifə</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Bizimlə Əlaqə </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="col-lg-6 contact-left">
                    <div class="partners">
                            <div class="cont-details">
                            <h5>Mesajınız uğurla göndərildi.</h5>
                                <p class="mt-3 mb-4">
                                Dəyərli fikirlərinizi bizimlə
                                paylaşdığınız üçün təşəkkür edirik.
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact-form -->
