@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>404 Error Page</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Berg Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="~/ErrorPage/css/style.css" type="text/css" media="all">
    <!-- easy-responsive-tabs css -->
    <link href="//fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
</head>

<body>
    <h1 class="title-agile text-center">
        Bu səhifə şəbəkədən çıxdı.
    </h1>
    <div class="w3ls-main">
        <!--/tabs-->
        <div class="responsive_tabs w3ls_tab">
            <h2>404</h2>
            <p>Səhifəni tapmaq mümkün deyil</p>

            <div class="hom">
                <a href="/Default/Index/">Ana səhifəyə dön</a>
            </div>

        </div>
    </div>

    <div class="copy-wthree text-center">
        <p>
            © @DateTime.Now.Year 404 Error Page. Bütün hüquqlar qorunur | Design by
            <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </div>
</body>
<!-- //Body -->

</html>
