@model EntityLayer.Concrete.Destination

@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container">
            <h2 class="title">Tur təfərrüatları</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index/">Ana Səhifə</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rəhbərin Yorumları </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/blog-->
<div class="py-5 w3l-homeblock1 text-center">
</div>
<section class="blog-post-main w3l-homeblock1">
    <!--/blog-post-->
    <div class="blog-content-inf pb-5">
        <div class="container pb-lg-4">
            <div class="single-post-content">

                <h3 class="blog-desc-big m-0 mt-5 mb-4">Search for Inspiration</h3>
                <p class="mb-4">Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in culpa quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde expedita esse error enim repellat, architecto corporis rerum ipsa alias cum!</p>
                <p class="mb-4">
                    Dolor sit sed amet, excepteur sint occaecat non proident, sunt in culpa quis. Phasellus
                    lacinia id erat eu. Nunc id ipsum fringilla, gravida felis vitae. Phasellus lacinia id, sunt in
                    culpa quis.
                </p>

                <div class="d-grid left-right mt-5 pb-md-5">
                    <div class="buttons-singles tags">
                        <h4>Tags :</h4>
                        <a href="#blog-tag">Travel</a>
                        <a href="#blog-tag">Culture</a>
                        <a href="#blog-tag">Hotel</a>
                        <a href="#blog-tag">Food</a>
                    </div>
                    <div class="buttons-singles">
                        <h4>Share :</h4>
                        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                    </div>
                </div>

                <!--//author-card-->
                <div class="author-card mt-5">
                    <div class="row align-items-center">
                        <div class="col-sm-3 col-6">
                            <div>
                                <img src="~/Travel-Templates/assets/images/c3.jpg" alt="" class="rounded-circle img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-9 mt-sm-0 mt-3">
                            <h3 class="mb-3 title">Alexander Ronald</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, sed et excepturi.
                                Distinctio fugit odit? Fugit ipsam. Lorem ipsum dolor sit.
                            </p>
                            <ul class="author-icons mt-4">
                                <li>
                                    <a class="facebook" href="#url">
                                        <span class="fa fa-facebook"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#url">
                                        <span class="fa fa-twitter"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="google" href="#url">
                                        <span class="fa fa-google-plus"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#url">
                                        <span class="fa fa-linkedin"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="github" href="#url">
                                        <span class="fa fa-github"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dribbble" href="#url">
                                        <span class="fa fa-dribbble"
                                              aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--//author-card-->
                @await Component.InvokeAsync("CommentList", new {id=ViewBag.i})
                @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")

            </div>
        </div>
        <!--//blog-post-->
</section>

<!--/w3l-footer-29-main-->
